.input {
  padding: 15px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  background-color: var(--color-200-t);
  border-radius: 10px;
  width: 90%;
  height: fit-content;
}

.container {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
