.main {
  width: 100%;
  height: 100vh;
  background-color: var(--color-500);
  overflow: hidden;
}

.hero_container {
  width: 100%;
  height: fit-content;
  padding-left: 5em;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
}

.hero_text {
  font-family: "DM Sans", sans-serif;
  font-weight: 800;
  font-size: 5em;
  color: var(--color-200);
}

.decentra_chat {
  font-family: "DM Sans", sans-serif;
  font-weight: 800;
  font-size: 5em;
  color: var(--color-300);
}

.secondary_text {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-size: 2em;
  color: var(--color-200);
}
